@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Anek Latin", sans-serif;
  font-size: 2rem;
  width: 100vw;
  height: 100vh;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;

  * {
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
.mainContainer {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  height: 80vh;
}
.gameContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  perspective: 1000px;
}
.player1Container,
.player2Container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.picContainer {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.guessedCard {
  width: 100px;
  height: 100px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

// FLIPPING CARDS-----------------------------------------

/* entire container, keeps perspective */
.flip-container {
  perspective: 500px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 200px;
  height: 200px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
